<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c682b1">  <td>17/10/30 16:14:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryTest.testSomeLibraryMethod()[pri:0, instance:LibraryTest@490ab905]">testSomeLibraryMethod</td> 
  <td>main@1206883981</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>17/10/30 16:14:00</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LibraryTest.testSomeLibraryMethod2()[pri:0, instance:LibraryTest@490ab905]">testSomeLibraryMethod2</td> 
  <td>main@1206883981</td>   <td></td> </tr>
</table>
